.contact {
  margin-top: 64px;
}

.header {
  display: inline-flex;
  flex-direction: column;
  row-gap: 16px;
  margin-bottom: 48px;
}

.title {
  font-size: 36px;
  line-height: 44px;
  font-weight: 600;
  color: #101828;
}
.subtitle {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  color: #475467;
}
.form {
  display: flex;
  flex-direction: column;
}
.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  row-gap: 6px;
}
.label {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #344054;
}
.input-area {
  padding: 10px 14px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  border: 1px solid #d0d5dd;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  color: #667085;
  outline: none;
}

.text-area {
  min-width: 50px;
  max-width: 720px;
  min-height: 132px;
  max-height: 132px;
  padding: 12px 14px;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid #d0d5dd;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  resize: none;
  color: #667085;
  outline: none;
}

.input-area:focus,
.text-area:focus {
  border: 1px solid #84caff;
}

.terms {
  display: flex;
  column-gap: 12px;
  margin-bottom: 32px;
}
.accept-terms {
  font-size: 16px;
  line-height: 24px;
  color: #475467;
}
input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  width: 30px;
  height: 20px;
  color: #d0d5dd;
  border: 1px solid #d0d5dd;
  border-radius: 6px;
  transform: translateY(0.1rem);
  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 10px;
  height: 10px;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #1570ef;
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"]:focus {
  outline: solid #84caff;
}

input[type="checkbox"]:checked {
  border: 1px solid #84caff;
}

.submit {
  padding: 12px 20px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 66px;
  background: #1570ef;
  border: 1px solid #1570ef;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  transition: all ease-in-out 0.3s;
}
.submit-disabled {
  padding: 12px 20px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 66px;
  background: #b2ddff;
  border: 1px solid #b2ddff;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  transition: all ease-in-out 0.3s;
}
.sub {
  padding: 12px 20px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 66px;
  background: #04c46d;
  border: 1px solid #04c66d;
  border-radius: 8px;
  transition: all ease-in-out 0.3s;
}
.submit:hover {
  background: #175cd3;
  transition: all ease-in-out 0.3s;
}

small {
  color: #f83f23;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.invalid {
  border: 1px solid #f89687;
  padding: 10px 14px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #f83f23;
  border-radius: 8px;
  outline: none;
}
.invalid-text {
  border: 1px solid #f89687;
  min-width: 50px;
  max-width: 720px;
  min-height: 132px;
  max-height: 132px;
  padding: 12px 14px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 400;
  resize: none;
  outline: none;
}

@media screen and (max-width: 350px) {
  input[type="checkbox"] {
    width: 40px;
  }
}
@media screen and (min-width: 480px) {
  input[type="checkbox"] {
    width: 20px;
  }
}

@media screen and (min-width: 768px) {
  .contact {
    margin-top: 156px;
  }
  .submit {
    margin-bottom: 188px;
  }
  .submit-disabled {
    margin-bottom: 188px;
  }
  .sub {
    margin-bottom: 188px;
  }
  .top {
    display: flex;
    justify-content: space-between;
  }
  .inp-top {
    width: 348px;
  }
}
